/*タイトルコンテナ*/
.title_container{
  width: 80%;
  height: 80px;
  font-size: 20px;
  display: flex;
  background-color: #A7A7A7;
  justify-content: center; /*左右中央*/
  align-items: center; /*上下中央*/
  margin-top: 5%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

/*ボタンコンテナ*/
.button_container{
  width: 50px;
  height: 602px;
  background-color: #DADADA;
  margin-bottom: 5px;
  margin-right: 5px;
}

/*各ボタンの設定*/
.btn-box,.btn_box{
  display: inline-block;
  widows: 25px;
  height: 25px;
  border: 1px black solid;
  padding: 2px;
  border-radius: 5px;
}
.btn_box_black{
  display: inline-block;
  widows: 25px;
  height: 25px;
  border: 1px white solid;
  padding: 2px;
  border-radius: 5px;
}
.select{
  margin-top: 10px;
  margin-left: 9px;
}
.aaa{
  margin-top: 0px;
  margin-left: 9px;
}
.margin{
  margin-top: 10px;
  margin-left: 9px;
}

/*ボタン枠線削除*/
input:focus {
	outline:0;
}

/*キャンバス*/
canvas {
	position: relative;
	border:1px solid #000;
}

/*保存履歴コンテナ*/
.history_container{
  height: 600px;
  width: 330px;
  background-color: whitesmoke;
  border: 1px solid black;
  margin-left: 10px;
}

/*保存履歴タイトル*/
#title_tmpList{
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 2px;
  font-weight: bolder;
  text-align: center;
}
.subtitle_tmpList{
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bolder;
  font-size: 13px;
  text-align: center;
}

/*「保存履歴」の下線*/
.hr{
  border-bottom: 1px solid black;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}
/*「ブックマーク」「添削保存」の下線*/
.hr2{
  border-bottom: 1px solid black;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

#bookmark_viewpanel{
  height: 539px;
  width: 100px;
  background-color: whitesmoke;
  margin-top: 5px;
}

#normal_viewpanel{
  height: 539px;
  width: 190px;
  background-color: whitesmoke;
  margin-top: 5px;
}

#bookmark_tmp{
  border-right: 1px solid black;
}

.tmpImage{
  border: 1px solid black;
  margin-left: 10px;
}

#setColor li{
  display: inline-block;
  width: 25px;
  height: 25px;
  border:1px solid #000;
}
